!!! 5
html
	head
		title= title
		meta(name='viewport',content='width=device-width; initial-scale=1.0; maximum-scale=1;')
		meta(name='apple-mobile-web-app-capable',content='yes')
		meta(name='apple-mobile-web-app-status-bar-style',content='black-translucent')
		link(rel='apple-touch-icon',href='public/images/iOS_icon.png')
		link(rel='apple-touch-startup-image',href='public/images/iOS_startup.png') 
		link(rel='stylesheet',type='text/css',href='public/css/all.css',media='screen')
		link(rel='stylesheet',type='text/css',href='public/css/theme/theme_light.css',media='screen')
		link(rel='stylesheet',type='text/css',href='public/css/layout_fixed.css',media='screen')
		link(rel='stylesheet',type='text/css',href='public/css/header_top.css',media='screen')
		link(rel='stylesheet',type='text/css',href='public/css/theme/theme_red.css',media='screen')
		//if IE 6
			link(rel='stylesheet',type='text/css',href='public/css/ie6.css',media='screen')
		//if IE 7
			link(rel='stylesheet',type='text/css',href='public/css/ie.css',media='screen')
		script(type='text/javascript',src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
		script(type='text/javascript',src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
		script(type='text/javascript',src='public/js/uniform/jquery.uniform.js')
		script(type='text/javascript',src='public/js/iPhone/jquery.iphoneui.js')
		script(type='text/javascript',src='public/js/uitotop/js/jquery.ui.totop.js')
		script(type='text/javascript',src='public/js/adminica/adminica_ui.js')
	body!= body